<div class="container">

  <div class="banner">
    <div id="slider">
      <figure>
        <img src="https://picsum.photos/1400/800?image=1084" alt>
        <img src="https://picsum.photos/1400/800?image=1081" alt>
        <img src="https://picsum.photos/1400/800?image=1077" alt>
        <img src="https://picsum.photos/1400/800?image=1074" alt>
        <img src="https://picsum.photos/1400/800?image=1084" alt>
      </figure>
    </div>
    <div class="banner-content">
      <h1>Antoine de Vesvrotte</h1>
      <p>Osteopathe ... et tellement plus !</p>
      <a href="https://www.doctolib.fr/osteopathe/sathonay-camp/antoine-de-vesvrotte" class="btn btn-primary btn-lg">Découvrez le</a>
    </div>
  </div>

</div>


<!-- #  style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');" -->
